Service References/ReportingService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IReportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                </msf:SslTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Datapecker.Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Datapecker.DAL" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Datapecker.BL" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_ReportException_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportException" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportException_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportExceptionCases_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportExceptionCases" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportExceptionCases_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportExceptionCasesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportCustomEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportCustomEvents" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportCustomEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportCustomEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportState_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportState" />
  </wsdl:message>
  <wsdl:message name="IReportService_ReportState_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportStateResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetServerUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerUpdates" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetServerUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetAgentSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentSettings" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetAgentSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetKnownExceptionEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKnownExceptionEvents" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetKnownExceptionEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKnownExceptionEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="ReportException">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/ReportException" message="tns:IReportService_ReportException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/ReportExceptionResponse" message="tns:IReportService_ReportException_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportExceptionCases">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/ReportExceptionCases" message="tns:IReportService_ReportExceptionCases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/ReportExceptionCasesResponse" message="tns:IReportService_ReportExceptionCases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportCustomEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/ReportCustomEvents" message="tns:IReportService_ReportCustomEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/ReportCustomEventsResponse" message="tns:IReportService_ReportCustomEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportState">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/ReportState" message="tns:IReportService_ReportState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/ReportStateResponse" message="tns:IReportService_ReportState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetServerUpdates" message="tns:IReportService_GetServerUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetServerUpdatesResponse" message="tns:IReportService_GetServerUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgentSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetAgentSettings" message="tns:IReportService_GetAgentSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetAgentSettingsResponse" message="tns:IReportService_GetAgentSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKnownExceptionEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetKnownExceptionEvents" message="tns:IReportService_GetKnownExceptionEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetKnownExceptionEventsResponse" message="tns:IReportService_GetKnownExceptionEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IReportService" type="tns:IReportService">
    <wsp:PolicyReference URI="#NetTcpBinding_IReportService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ReportException">
      <soap12:operation soapAction="http://tempuri.org/IReportService/ReportException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportExceptionCases">
      <soap12:operation soapAction="http://tempuri.org/IReportService/ReportExceptionCases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportCustomEvents">
      <soap12:operation soapAction="http://tempuri.org/IReportService/ReportCustomEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportState">
      <soap12:operation soapAction="http://tempuri.org/IReportService/ReportState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerUpdates">
      <soap12:operation soapAction="http://tempuri.org/IReportService/GetServerUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentSettings">
      <soap12:operation soapAction="http://tempuri.org/IReportService/GetAgentSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKnownExceptionEvents">
      <soap12:operation soapAction="http://tempuri.org/IReportService/GetKnownExceptionEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="NetTcpBinding_IReportService" binding="tns:NetTcpBinding_IReportService">
      <soap12:address location="net.tcp://localhost:4502/Reporting.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4502/Reporting.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>support.datapecker.net</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>